body {
    background-color: rgb(40, 40, 40);
    color: white;
    margin: 3vw;
    font-family: 'Sono', sans-serif;
}

a {
    color: grey;
    text-decoration: none;
}

@media (hover: hover) {
    a:hover {
        color: white;
    }
}

.title {
    display: flex;
    padding-right: 30px;
    padding-left: 30px;
    justify-content: space-between;
    align-items: center;
}

.title h1 {
    margin-bottom: 3vh;
    margin-top: 0;
}

.neumo {
    border-radius: 40px;
    background: #282828;
    box-shadow: 20px 20px 60px #1c1c1c,
        -20px -20px 60px #343434;
    padding-top: 1vh;
    padding-bottom: 4vh;
    padding-left: 30px;
    margin-bottom: 7vh;
}