body {
    background-color: rgb(40, 40, 40);
    color: white;
    margin: 3vw;
    font-family: 'Sono', sans-serif;
}

a {
    color: grey;
    text-decoration: none;
}

@media (hover: hover) {
    a:hover {
        color: white;
    }
}

.title {
    display: flex;
    padding-right: 30px;
    padding-left: 30px;
    justify-content: space-between;
    align-items: baseline;
}

.title h1 {
    margin-bottom: 3vh;
    margin-top: 0;
}

.neumo {
    border-radius: 40px;
    background: #282828;
    box-shadow: 20px 20px 60px #1c1c1c,
        -20px -20px 60px #343434;
    padding-top: 1vh;
    padding-bottom: 4vh;
    padding-left: 30px;
    margin-bottom: 7vh;
}

.login {
    display: flex;
    justify-content: flex-start;
}

.fields {
    max-width: 100%;
    margin: 5px 5px 5px 5px;
}

@media screen and (max-width: 500px) {
    .login {
        flex-direction: column;
    }

    .fields {
        max-width: 100%;
    }
}

.fields input {
    margin-left: 15px;
    border: none;
    outline: none;
    background: none;
    color: white;
    font-size: 18px;
    padding: 20px 10px 20px 5px;
}

.password {
    border-radius: 25px;
    box-shadow: inset 8px 8px 8px #1c1c1c,
        inset -8px -8px 8px #343434;
}

.signin-button {
    outline: none;
    border: none;
    cursor: pointer;
    height: 60px;
    width: 100%;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    color: #fff;
    text-align: center;
    background: #24cfaa;
    box-shadow: 3px 3px 8px #1c1c1c,
        -3px -3px 8px #343434;
    transition: 0.5s;
    padding: 15px;
}

.signin-button:hover {
    background: #32e6bf;
}

.signin-button:active {
    background: #04644f;
}